@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(Evening.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas:
        "header"
        "field"
        "map";    
}

#map {
    grid-area: map;
    display: inline-flex;
    height: 87vh;
}

#header {
    grid-area: header;
}

#field {
    grid-area: field;
}

.grid-container {
    display: grid;
    gap: 30px;
    padding: 15px;
}

.grid-item-header {
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.grid-item-2 {
    background-color: white;
    padding-top: 20px;
    border-radius: 5px;
    text-align: center;
}

h3, h4{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
    z-index: 999;
}

p, form{
    font-Family: 'Open Sans', Sans-Serif;
    color: black;
}

.glass { 
    background: white;
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.6), 
    rgba(255, 255, 255, 0.3));
    border-radius: 5px;
}

.maptext {
    background:rgba(255, 255, 255, 0.8);
    padding: 10px;
    height: 40px;
    border: 8px;
}

fieldset {
    border: none;
}

.veld1  {
    padding: 8px;
    opacity: 80%;
    border: none;
    border-radius: 3px;
}

.button1  {
    padding: 8px;
    border: none;
    border-radius: 3px;
}

article {
    margin-left: 12px;
    padding: 8px;
}

/* Mobile
@media only screen and (max-width: 600px) {} */

/*Tablet*/
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    body {
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas:
            "header"
            "field"
            "map";    
    }

    #map {
        height: 81vh;
    }
}

/* Laptop (kleine desktop)*/
@media only screen and (min-width: 1024px) and (max-width: 1598px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "field map";    
    }

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    #field {
        margin-top: 40%;
        margin-bottom: 145%;
        justify-content: center;
    }
}


/*Grote desktop*/
@media only screen and (min-width: 1599px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "field map";    
    }

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
}